.header
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#996666;
}
.h
{
height:250px;
width:1000px;
}
.logo
{
float:left;
}
.name
{
height:250px;
width:700px;
float:right;
}
.n
{
position:relative;
top:100px;
left:250px;
font-size:36px;}
.menu
{
height:50px;
width:1000px;
float:left;
background-color:#000000;
}
.menu ul li
{
display:inline;
padding:60px;
}
.menu ul li a
{
text-decoration:none;
color:#FFFFFF;
font-size:24px;
}
.footer{
height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#99CCCC;
}
.copy
{
height:50px;
width:500px;
float:left;
text-align:center;
background-color:#000000;
color:#FFFFFF;
position:relative;
top:25px;
left:200px;
font-size:22px;
}
.home
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#999999;
}
.img
{
float:left;
}
.heading
{
height:200px;
width:500px;
float:right;
text-align:center;
font-size:20px;
background-color:#000000;
color:#FFFFFF;
}
.para
{
height:400px;
width:500px;
float:right;
text-align:justify;
font-size:18px;
}
.about
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-image:url(image/360_F_540624608_gGfUf4SuPCzzBPA3GPoH6nHphsSEMDeA.jpg);
background-repeat:no-repeat;
background-size:1000px 600px;
}
.img1
{
float:left;
}
.img2
{
float:left;
}
.img3
{
float:right;
}
.img4
{
float:left;
}
.img5
{
float:left;
}
.img6
{
float:right;
}
.service
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#99CCCC;
text-align:center;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
}
.service table tr:nth-child(5n-1)
{
background-color:#FF0000;
}
.service table tr:hover
{
background-color:#FFFF00;
color:#FF3399;
font-size:24px;
}
.contact
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#99CCCC;
}
.map
{
float:left;
}
.address
{
height:300px;
width:500px;
float:left;
text-align:center;
font-size:24px;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
background-color:#000000;
color:#FFFFFF;
}
.contact1
{
height:300px;
width:500px;
float:right;
text-align:center;
font-size:22px;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
}
.register
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#99CCCC;
text-align:center;
}